@charset "utf-8";

.input-wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrap .quick-empty, .quick-empty-middle, .quick-empty-after {
    padding-right: 22px;
}

.input-wrap .input-quick-empty-button {
    width: 0;
    right: 20px;
    position: relative;
    z-index: 999;
}

.input-wrap .input-quick-empty-button .iconfont {
    font-size: 14px!important;
    position: unset!important;
    top: unset!important;
    left: unset!important;
    line-height: unset!important;
    color: #ccc!important;
    font-weight: 900!important;
}

.input-wrap .input-quick-empty-button:hover .iconfont {
    color: #666666!important;
}

.input-wrap .row-reverse {
    flex-direction: row-reverse;
}
